.btn-mycolor {
  background-color: white;
  font-family: 'Nanum Gothic', sans-serif;
letter-spacing: 2px;
}

.form-row{
font-family: 'Nanum Gothic', sans-serif;
letter-spacing: 2px;
padding-top: 150px;
}

.form-inline{
font-family: 'Nanum Gothic', sans-serif;
}

.form-group{
font-family: 'Nanum Gothic', sans-serif;
letter-spacing: 2px;

}
