.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding-left: 15px;
	position: absolute;
	top: 10px;
	left: 0px;
	right: 0px;

}

.navbar:hover {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding-left: 15px;
	


}